<title>{{titel}}</title>

<div class="container well">
    <div class="col-xs-12">
    <div class="row"></div>
    <h2>User email confirmation.</h2>

    <ol>
        <li>Go to <a href="/login">login page.</a></li>
        <li>Go to <a href="/register">new user registration page</a></li>
    </ol>
    
    </div>
    </div>
</div>
