<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Confirm email address</h1>
    <h2>{{user.firstname}} {{user.lastname}}</h2>
    <h3>Before using your account, please confirm your email address by clicking "The link below".</h3>

    <p><a href="{{url}}/confirmemail/{{user.id}}">The link below</a></p>
    <p style="margin-top: 40px">Please do not reply to this email</p>
</body>
</html>